<div class="jumbotron center">
		<h1>Welcome to Cobra!</h1>
		<p>
			<h2>Your Personal Event Booking Search Engine</h2>
		</p>
		
		<p>
			<%= link_to "Sign Up!", "#", class: "btn btn-primary btn-lg" %> &nbsp 
			<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
		</p>
